# Dependencies
node_modules

# Next.js
.next

# Git
.git
.gitignore

# Documentation
README.md

# IDE
.vscode
.idea

# Environment
.env
.env.local
.env.production
.env.development

# Logs
*.log
npm-debug.log*

# Terraform
terraform
.terraform
*.tfstate
*.tfstate.*
terraform.tfvars

# OS
.DS_Store
Thumbs.db